**/__pycache__
.vscode
nextflow/pipelines
nextflow/runs/**/results
nextflow/runs/**/logs
nextflow/runs/**/work
nextflow/runs/**/.nextflow
tmp_b_c.txt
/AI/dataset/genome
/AI/dataset/mm9.chrom.sizes
/AI/dataset/mm9.2bit
/AI/dataset/mm9.fa
/AI/dataset/alphafoldDB_mmcif
/AI/dataset/protein_feature.csv
/AI/dataset/secondary_structure.csv
/AI/dataset/uniprot_C2H2_protein_table.tsv
/AI/dataset/protein_with_peak_data.csv
/AI/dataset/small_data.csv
/AI/dataset/balanced_small_data
/AI/dataset/inference_data.csv
/AI/dataset/extra/data
/DeepZF/Data
/DeepZF/BindZF_predictor/code/model.p
/DeepZF/Results
/DeepZF/zinc_finger_protein_motifs
/paper/benchmark
