**/__pycache__
.vscode
nextflow/pipelines
nextflow/runs/**/results
nextflow/runs/**/logs
nextflow/runs/**/work
nextflow/runs/**/.nextflow
tmp_b_c.txt
/AI/dataset/genome
/AI/dataset/mm9.chrom.sizes
/AI/dataset/mm9.2bit
/AI/dataset/mm9.fa
/AI/dataset/alphafoldDB_mmcif
/AI/dataset/protein.csv
/AI/dataset/secondary_structure.csv
/AI/dataset/uniprot_mouse_C2H2_protein.tsv
/AI/dataset/protein_with_peak_data.csv
AI_models/bind_transformer/checkpoints
AI_models/bind_transformer/pipeline
AI_models/DeepZF/Data
AI_models/DeepZF/BindZF_predictor/code/model.p
AI_models/DeepZF/Results
AI_models/DeepZF/zinc_finger_protein_motifs
AI_models/bind_transformer/config_custom.ini
*.bak
